* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
}

header {
    background: linear-gradient(45deg, #1f5de2, #300757);
    color:white;
    font-size: 15px;
    padding: 2px;
    text-align: center;
}
.cap {
    text-transform:capitalize;
}

.container {
    margin-top: 40px;
}

.btn {
    margin: 10px;
    padding: 5px 30px 5px 30px;
}

h5 {
    font-size: 22px;
}
.fiveDay {
 margin: 20px 0px 18px 0px;
}
#user-input {
    padding: 6px 5px 6px 5px;
}
.citiesBtn {
    background-color: rgb(110, 111, 112);
}

#current-date {
    font-size: 20px;
    color: rgb(51, 50, 50);
    
}
.forecastCards {
    margin-right: 5px;
    background-color: #bcc8e0;
    border: none;
}
ul {
    list-style: none;
    padding: 0px;
}

li {
    margin-top: 6px;
    padding-left: 8px;
}

