* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
    
}

header {
    background: linear-gradient(45deg, #1f5de2, #300757);
    color:white;
    font-size: 15px;
    padding: 2px;
    text-align: center;
}
.cap {
    text-transform:capitalize;
}
.container {
    margin-top: 30px;
}

#user-input {
    padding: 3px 5px 3px 5px;
    margin: 10px 0px 2px 0px;
}
::placeholder { 
    color: rgb(165, 164, 164);
    text-align: center;
}
#submit-btn {
    background-color: #174ab8;
    margin: 10px 0px 5px 0px;
    margin-bottom: 50px;
}
.btn {
    padding: 5px 30px 5px 30px;
    border: none;
}

.citiesBtn {
    background-color: #8b8c8d;
    margin-bottom: 20px;
}



.fiveDay {
    margin: 20px 0px 18px 0px;  
}


main {
    padding: 0px;
    margin-top: 35px!important;
}

#current-date {
    font-size: 20px;
    color: rgb(51, 50, 50);
    
}
.forecastCards {
    margin-right: 5px;
    background-color: #a1b6e4;
    border: none;
}
ul {
    list-style: none;
    padding: 0px;
}

li {
    margin-top: 6px;
    font-weight: 100;
}    

.forecastCards li {
    font-size: 15px;
    padding-left: 2px;
}

